*{
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 235, 205, 0.425);
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* min-width: 100vh; */
    max-width: 100%;
    justify-content: center;
}
.quiz-container{
    background-color: burlywood;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px;
}
.quiz-header{
    padding: 3rem;
    font-family: serif;
}
ul{
    list-style: none;
    padding: 0;
}
button{
    background-color: rgba(75, 64, 50, 0.678);
    display:block;
    width: 100%;
    padding: 0.5rem;
    color:white;
    font-family: serif;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: black;
}

h2{
    margin: 0;
}
ul li{
    margin: 1rem 0;
}






